body,button,h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat,sans-serif;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,.8);
    line-height: 1.65;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: none;
    background-image: linear-gradient(to right,#ccc,#333,#ccc);
}

.fa-anchor,.fa-coffee {
    font-size: 200px
}

.big-icon {
    font-size: 2rem;
}

.col-12 {
    flex: 0 0 100%;
    width: 100%;
}
.col-lg-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
    box-sizing: border-box;
    position: relative;
}
.col-lg-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
    box-sizing: border-box;
    position: relative;
}
.col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    box-sizing: border-box;
    position: relative;
}
.col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
    box-sizing: border-box;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
    box-sizing: border-box;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.margin-left-05 {
    margin-left: 4.16666667%;
}
.margin-left-1 {
    margin-left: 8.33333333%;
}
.margin-left-2 {
    margin-left: 16.66666667%;
}
.margin-left-55 {
    margin-left: 45.83333333%;
}

.visuallyhidden {
    visibility: hidden;
}

.center {
    text-align: center;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.top-menu {
    height: 61px;
    width: 100%;
    border: none;
    display: inline-block;
    outline: 0;
    color: lightgrey;
    background-color: white;
    box-shadow: 4px 4px 5px 0 rgba(0,0,0,0.16), 4px 4px 10px 0 rgba(0,0,0,0.12);
    font-size:18px;
}
.menu-brand {
    padding: 19px 24px;
    margin-left: 5%;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: inherit;
    white-space: nowrap;
    display: block;
    float: left;
}
.menu-brand:hover,.menu-brand:focus {
    text-decoration:none
}
.menu-unselect {
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    white-space:normal;
    padding:21px 24px;
}
.menu-unselect:hover {
    color:#000;
    background-color:lightgrey;
}
.menu-selected {
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
    white-space:normal;
    padding:21px 24px;
    background-color:lightgrey
}

.top-menu a,.top-menu a:visited {
    color: black;
    text-decoration: none;
}

.content {
    padding: 50px 6%;
    width: 88%;
    display: inline-block;
}

.portrait {
    width: 60%;
    height: 60%;
    margin: 30px 20%;
    border-radius: 50%;
    object-fit: cover;
}

.portrait-title {
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
}

.portrait-title h2 {
    font-size: 2em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px;
}

.contact {
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
}

.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding-left: 0px;
}
.network-icon li {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.network-icon a {
    color: #2962ff;
}

.introduction {
    padding: 0 3%;
}
.introduction h1 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
}
.introduction a {
    color: #2962ff;
}

.news h1 {
    margin-bottom: .5rem;
    line-height: 1.25;
}
.news li {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.experience-title {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.experience-title h2 {
    text-align: left;
    text-decoration: underline;
}
.experience {
    display: inline-block;
    width: 100%;
}
.experience p {
    margin-bottom: -20px;
}
.experience h4 {
    margin-bottom: -15px;
}

.card {
    width: 27.5%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .2s ease-out;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: .25rem;
}
.card a:hover {
    background-color: white;
    opacity: .4;
}
.card a,.card a:visited {
    color: black;
    text-decoration: none;
}
.card img {
    width: 100%;
}
.card h4 {
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: -10px;
}
.card p {
    padding-left: 25px;
    padding-right: 15px;
}

.publication p {
    margin-top: -4px;
    margin-bottom: 0;
}
.conference {
    background-color: rgba(50, 98, 164);
    height: 15px;
    width: 15px;
    /* margin-top: 10px; */
    margin-top: 20px;
    box-sizing: border-box;
}
.journal {
    background-color: rgba(171, 65, 115);
    height: 15px;
    width: 15px;
    /* margin-top: 10px; */
    margin-top: 20px;
    box-sizing: border-box;
}
.informal {
    background-color: rgba(98, 106, 112);
    height: 15px;
    width: 15px;
    /* margin-top: 10px; */
    margin-top: 20px;
    box-sizing: border-box;
}
.pub-details {
    padding-left: 18px;
    padding-top: 0;
    margin-top: -5px;
}
.publ-list {
    margin: 1ex 0em 1ex;
    padding: 0px;
}
.year {
    font-size: larger;
    font-weight: 800;
}
.entry {
    position: relative;
}
.publ-list > li {
    display: table;
    margin: 0ex 0em 1ex;
    padding: 0px;
}
.publ-list > li > div {
    display: table-cell;
}
.nr {
    min-width: 30px;
    text-align: center;
    white-space: nowrap;
}

.project-feature {
    margin: 0 5%;
}
.project-feature img {
    width: 100%;
}
.project-youtube {
    margin: 0 15%;
}